<div ng-show="showUserButton">
 	<button type="button" class="btn btn-danger" ng-click="showAllUsers()">{{showOrHideTxt}}</button>
</div>
	

<div ng-show="showUsers" class="panel panel-primary table-responsive">
    <div class="panel-heading">Registered Users</div>
    <div class="panel-body">
 
	<div>
	<table class="table table-hover table-condensed table-striped table-bordered">
		<thead>
			<tr>
				<th>No.</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email Id</th>
				<th>Phone</th>
			</tr>

		</thead>
		<tbody>
			<tr ng-repeat="user in allusers">
				<td>{{user.id}}
				<td>{{user.firstName}}</td>
				<td>{{user.lastName}}</td>
				<td>{{user.emailId}}</td>
				<td>{{user.phone}}</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	</div>